@font-face {
	font-family: 'FiraSansRegular';
	src: url('../fonts/FiraSansRegular.eot');
	src: url('../fonts/FiraSansRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FiraSansRegular.woff') format('woff'),
		url('../fonts/FiraSansRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fontawesome-webfont';
	src: url('../fonts/fontawesome-webfont.eot');
	src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome-webfont.woff') format('woff'),
		url('../fonts/fontawesome-webfo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fontawesome-webfont';
	src: url('../fonts/fontawesome-webfont.eot');
	src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome-webfont.woff') format('woff'),
		url('../fonts/fontawesome-webfo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
